<div class="flex flex-col items-center justify-center h-full w-full mx-auto align-middle">
  <div class="w-full bg-white rounded-3xl shadow border md:mt-0 sm:max-w-md xl:p-0">
    <div class="p-6 space-y-4 md:space-y-6">
      <h2 class="text-2xl font-bold text-gray-900">Edit <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'space-y-4 md:space-y-6'}) do |form| %>
        <div>
          <%= form.label(:full_name, "Full Name", class: form_label(resource.errors[:full_name])) %>
          <%= form.text_field(:full_name, autofocus: true, autocomplete: "full-name", placeholder: "Perry Reynolds", class: form_input(resource.errors[:full_name])) %>
          <%= render_form_error_messages(resource.errors[:full_name]) %>
        </div>

        <div>
          <%= form.label(:email, "Email", class: form_label(resource.errors[:email])) %>
          <%= form.email_field(:email, autofocus: true, autocomplete: "email", placeholder: "name@company.com", class: form_input(resource.errors[:email])) %>
          <%= render_form_error_messages(resource.errors[:email]) %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
          <%= form.label(:password, "Password", class: form_label(resource.errors[:password])) %>
          <%= form.password_field(:password, autocomplete: "password", placeholder: "Password", class: form_input(resource.errors[:password])) %>
          <%= render_form_error_messages(resource.errors[:password]) %>
          <% if resource.errors[:password].empty? %>
            <i class="block text-sm font-light text-gray-600">(leave blank if you don't want to change it)</i>
            <% if @minimum_password_length %>
              <em class="block text-sm font-light text-gray-600">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          <% end %>
        </div>

        <div>
          <%= form.label(:password_confirmation, "Password confirmation", class: form_label(resource.errors[:password_confirmation])) %>
          <%= form.password_field(:password_confirmation, autocomplete: "password_confirmation", placeholder: "Password confirmation", class: form_input(resource.errors[:password_confirmation])) %>
          <%= render_form_error_messages(resource.errors[:password_confirmation]) %>
        </div>

        <div>
          <%= form.label(:current_password, "Current password", class: form_label(resource.errors[:current_password])) %>
          <%= form.password_field(:current_password, autocomplete: "current_password", placeholder: "Current password", class: form_input(resource.errors[:current_password])) %>
          <%= render_form_error_messages(resource.errors[:current_password]) %>
          <% if resource.errors[:current_password].empty? %>
            <i class="block text-sm font-light text-gray-600">(we need your current password to confirm your changes)</i>
          <% end %>
        </div>

        <div class="flex flex-col sm:flex-row">
          <%= form.submit("Update", class: btn_element(:blue, full_width: true)) %>
        </div>
      <% end %>

      <div>
        <h2 class="text-2xl font-bold text-gray-900">Delete account</h2>
        <p class="text-base font-light text-gray-600">
          Unhappy? Once you delete your account, there is no going back. Please be certain.
          <%= link_to("Delete my account", registration_path(resource_name), data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "font-medium text-blue-600 hover:underline") %>
          <br/>
          <%= link_to("Back to previous page", :back, class: "font-medium text-blue-600 hover:underline") %>
        </p>
      </div>
    </div>
  </div>
</div>
