<div class="flex flex-col items-center justify-center h-full w-full mx-auto align-middle">
  <div class="w-full bg-white rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0">
    <div class="p-6 space-y-4 md:space-y-6">
      <h2 class="text-2xl font-bold text-gray-900">Forgot your password?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'space-y-4 md:space-y-6'}) do |form| %>
        <div>
          <%= form.label(:email, "Email", class: form_label(resource.errors[:email])) %>
          <%= form.email_field(:email, autofocus: true, autocomplete: "email", placeholder: "name@company.com", class: form_input(resource.errors[:email])) %>
          <%= render_form_error_messages(resource.errors[:email]) %>
        </div>

        <div class="flex flex-col sm:flex-row">
          <%= form.submit("Send me reset password instructions", class: btn_element(:blue, full_width: true)) %>
        </div>
      <% end %>

      <p class="text-base font-light text-gray-600">
        Already have an account? <%= link_to("Sign in", new_session_path(resource_name), class: "font-medium text-blue-600 hover:underline") %>
        <br/>
        No account? <%= link_to("Sign up", new_registration_path(resource_name), class: "font-medium text-blue-600 hover:underline") %>
      </p>
    </div>
  </div>
</div>
