<div class="max-w-lg" data-controller="field-kind">
  <%= form_with(model: transaction, url: [account, transaction], data: { turbo: false }) do |f| %>
    <% recipient_errors = transaction.errors[:recipient_id] + transaction.errors[:recipient] %>

    <div class="mb-4">
      <%= f.label(:sender_amount, Transaction.human_attribute_name(:sender_amount), class: form_label_classes(transaction.errors[:sender_amount])) %>
      <%= f.number_field(:sender_amount, autofocus: true, step: 0.000001, class: form_input_classes(transaction.errors[:sender_amount])) %>
      <% if transaction.errors[:sender_amount].any? %>
        <div class="block text-sm font-light text-red-600">
          <%= transaction.errors[:sender_amount].join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label(:kind, Transaction.human_attribute_name(:kind), class: form_label_classes(transaction.errors[:kind])) %>
      <%= f.select(:kind, options_for_select(Transaction.kinds.keys.map { |key| [key.titleize, key] }), {}, { class: form_input_classes(transaction.errors[:kind]), data: { field_kind_target: "kind", action: "field-kind#toggleExecutionDate" } }) %>
      <% if transaction.errors[:kind].any? %>
        <div class="block text-sm font-light text-red-600">
          <%= transaction.errors[:kind].join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label(:execution_date, Transaction.human_attribute_name(:execution_date), class: form_label_classes(transaction.errors[:execution_date])) %>
      <%= f.datetime_field(:execution_date, data: { controller: "flatpickr", field_kind_target: "executionDate" }, disabled: true, class: form_input_classes(transaction.errors[:execution_date])) %>
      <% if transaction.errors[:execution_date].any? %>
        <div class="block text-sm font-light text-red-600">
          <%= transaction.errors[:execution_date].join(", ") %>
        </div>
      <% end %>
      <i class="block text-sm font-light text-gray-600">field is changed if the kind field value is selected</i>
    </div>

    <div class="mb-4">
      <%= f.label(:recipient_id, Transaction.human_attribute_name(:recipient_id), class: form_label_classes(recipient_errors)) %>
      <%= f.select(:recipient_id, options_for_select(Account.where.not(id: account.id).map { |a| ["#{a.human_number} / #{a.currency_name} / #{a.user_full_name}", a.id] }),  { prompt: "select a recipient" }, { class: form_input_classes(recipient_errors) }) %>
      <% if recipient_errors.any? %>
        <div class="block text-sm font-light text-red-600">
          <%= recipient_errors.join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="flex justify-between">
      <%= f.submit("Create", class: "px-5 py-2.5 text-base font-medium text-center text-white bg-blue-600 hover:bg-blue-700 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800") %>
      <%= link_to("Back to my account", account_path(account), class: "px-5 py-2.5 text-base font-medium text-center text-white bg-gray-600 hover:bg-gray-700 rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800") %>
    </div>
  <% end %>
</div>
