<!DOCTYPE html>
<html>
  <head>
    <title>Financial Transactions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
  </head>

  <body>
    <%= turbo_stream_from("flash_messages") %>
    <%= turbo_stream_from(current_user, "flash_messages") %>
    <%= render('layouts/shared/nav') %>
    <main class="container mx-auto mt-12 px-4 flex flex-col space-y-6">
      <%= render "layouts/shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
