<div>
  <%= turbo_frame_tag("accounts") do %>
    <% if accounts.exists? %>
      <div class="relative overflow-x-auto rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">#</th>
            <th scope="col" class="px-6 py-3"><%= Account.human_attribute_name(:number).titleize %></th>
            <th scope="col" class="px-6 py-3"><%= Account.human_attribute_name(:balance).titleize %></th>
            <th scope="col" class="px-6 py-3"><%= Account.human_attribute_name(:currency).titleize %></th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
          </thead>
          <tbody>
          <% accounts.each.with_index(1) do |account, index| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= index %></th>
              <td class="px-6 py-4 whitespace-nowrap font-medium"><%= account.human_number %></td>
              <td class="px-6 py-4 whitespace-nowrap font-medium"><%= account.balance %></td>
              <td class="px-6 py-4 whitespace-nowrap font-medium"><%= account.currency_name %></td>
              <td class="px-6 py-4 whitespace-nowrap font-medium">
                <%= link_to("Show", account_path(account), data: { turbo_frame: "_top" }, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline") %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>There is no accounts</p>
    <% end %>
  <% end %>
</div>
