<%= turbo_frame_tag(account) do %>
  <div class="<%= turbo_frame_request? ? 'max-w-2xl' : 'max-w-lg' %>">
    <%= form_with(model: account, data: { turbo: turbo_frame_request? }, html: { class: 'space-y-4 md:space-y-6'}) do |f| %>
      <% currency_errors = account.errors[:currency_id] + account.errors[:currency] %>
      <% link_to_name = turbo_frame_request? ? "Cancel" : "Back to my accounts" %>
      <% link_to_data = turbo_frame_request? ? { turbo_action: 'advance' } : {} %>

      <div>
        <%= f.label(:currency_id, Account.human_attribute_name(:currency), class: form_label(currency_errors)) %>
        <%= f.collection_select(:currency_id, Currency.all, :id, :name, { prompt: "Select a currency" }, { class: form_input(currency_errors) }) %>
        <%= render_form_error_messages(currency_errors) %>
      </div>

      <div class="flex flex-col sm:flex-row gap-4 justify-between">
        <%= f.submit("Create", class: btn_element(:blue, full_width: true)) %>
        <%= link_to(link_to_name, accounts_path, data: link_to_data, class: btn_element(:gray, full_width: true)) %>
      </div>
    <% end %>
  </div>
<% end %>
