<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= index %></th>
  <% if transaction.sender_id == account.id %>
    <td class="px-6 py-4 whitespace-nowrap font-medium text-red-600">-<%= transaction.sender_amount %> <%= transaction.sender_currency_name %></td>
    <td class="px-6 py-4 whitespace-nowrap font-medium"><%= transaction.recipient_user_full_name || "ATM" %></td>
  <% else %>
    <td class="px-6 py-4 whitespace-nowrap font-medium text-green-600">+<%= transaction.recipient_amount %> <%= transaction.recipient_currency_name %></td>
    <td class="px-6 py-4 whitespace-nowrap font-medium"><%= transaction.sender_user_full_name || "ATM" %></td>
  <% end %>
  <td class="px-6 py-4 whitespace-nowrap font-medium"><%= transaction.kind.titleize %></td>
  <td id="<%= dom_id(transaction, :status) %>" class="px-6 py-4 whitespace-nowrap font-medium"><%= transaction.status.titleize %></td>
  <td class="px-6 py-4 whitespace-nowrap font-medium">
    <div class="flex gap-4 justify-start">
      <%= link_to("Show", account_transaction_path(account, transaction), data: { turbo_frame: "modal", turbo_action: "advance" }, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline") %>
      <% if transaction.may_cancel? %>
        <%= link_to('Cancel', cancel_account_transaction_path(account, transaction), id: dom_id(transaction, :cancel_link), data: { turbo_method: :patch }, class: 'font-medium text-red-600 dark:text-red-500 hover:underline') %>
      <% end %>
    </div>
  </td>
</tr>
