<div class="container space-y-4 md:space-y-6">
  <h2 class="font-bold text-2xl"><%= current_user.full_name %> / My accounts</h2>
  <% if @accounts.exists? %>
    <div class="max-w-2xl">
      <div class="relative overflow-x-auto rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">#</th>
            <th scope="col" class="px-6 py-3"><%= Account.human_attribute_name(:number).titleize %></th>
            <th scope="col" class="px-6 py-3"><%= Account.human_attribute_name(:balance).titleize %></th>
            <th scope="col" class="px-6 py-3"><%= Account.human_attribute_name(:currency).titleize %></th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
          </thead>
          <tbody>
          <% @accounts.each.with_index(1) do |account, index| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= index %></th>
              <th class="px-6 py-4 whitespace-nowrap"><%= account.human_number %></th>
              <th class="px-6 py-4 whitespace-nowrap"><%= account.balance %></th>
              <th class="px-6 py-4 whitespace-nowrap"><%= account.currency_name %></th>
              <th class="px-6 py-4 whitespace-nowrap">
                <%= link_to("Show", account_path(account), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline") %>
              </th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <p>There is no accounts</p>
  <% end %>

  <%= link_to("Create account", new_account_path, class: "inline-block px-5 py-2.5 text-base font-medium text-center text-white bg-green-600 hover:bg-green-700 rounded-lg focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800") %>
</div>
